/*------------------------------------*\
  #variables
\*------------------------------------*/

:root {
  // Brand Colors
    --emerald: hsl(169.4, 36.8%, 45.3%);
    --moldavite: hsl(160.6, 34.8%, 36.7%);
    --moss: hsl(173.6, 33.8%, 27.3%);
    --ember: hsl(27.2, 100%, 45.9%);

    --moss-hs: 173.6, 33.8%;
    --moss-l: 27.3%;

    --ember-hs: 27.2, 100%;
    --ember-l: 45.9%;

  // Neutral Colors
    --pearl: hsl(0, 0%, 97.3%);
    --hematite: hsl(0, 0%, 56.5%);
    --stone: hsl(0, 0%, 37.3%);
    --onyx: hsl(0, 0%, 5.9%);

    --pearl-l: 97.3%;

    --shade: hsla(0, 0%, 5.9%, 0.2);
    --dark-shade: hsla(0, 0%, 90%, 0.2);

    --shade-hover: hsla(0, 0%, 5.9%, 0.4);
    --dark-shade-hover: hsla(0, 0%, 90%, 0.4);

    // utilities
    --chamfer: 0.25rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    --shadow-depth: 2px 2px 2px 0;
}


/*------------------------------------*\
  #typography
\*------------------------------------*/

// https://css-tricks.com/snippets/sass/use-sass-variable-selector/
// this is way cleaner than the scss for loop even if it needs #{$headings-a} {
$headings-a: "h1 a, h2 a, h3 a, h4 a, h5 a, h6 a";
// same as :is(h1, h2, h3, h4, h5, h6) a";
$headings-hover: "h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover";

html {
  font-family: "brandon-grotesque", sans-serif;
  // https://fonts.adobe.com/fonts/brandon-grotesque
}

// type-scale.com // this is giving me problems im fixing
// 1.250 Major Third
body {
  font-size: 16px;
  line-height: 1.563rem; // why is this not the same as h tags
  font-style: normal;
  font-weight: 400; // regular weight brandon grotesque
  background: var(--pearl);
  color: var(--onyx);
  @media (prefers-color-scheme: dark) {
    background: var(--onyx);
    color: var(--pearl);
  }
}

p {
  margin-top: 0;
  margin-bottom: 0.625rem; // 10px
}

h1,
.h1 {
  margin-top: 0; // browser reset
  font-size: 3rem; // 48px and were back to classical
  line-height: 3.75rem; // 60px
  margin-bottom: 2rem;
}

h2,
.h2 {
  font-size: 2.5rem; // 40px
  line-height: 3rem; // 48px
  margin-bottom: 2.5rem; // 40px
}

h3,
.h3 {
  font-size: 2rem; // 32
  line-height: 2.5rem; // 40px
  margin-bottom: 1.875rem; // 30px
}

h4,
.h4 {
  font-size: 1.5rem; // 24px
  line-height: 2rem;
  margin-bottom: 1.25rem; // 20px
}

h5,
.h5 {
  font-size: 1.25rem; // 20px
  line-height: 1.875rem; // 30px
  margin-bottom: 0.625rem; // 10px
}

h6,
.h6 {
  font-size: 1rem; // 16px
  line-height: 1.25rem; // 20px this becomes the vertical rythym
  margin-bottom: 0.625rem; // 10px skips some of the lines
}

small,
.text_small {
  font-size: 0.75rem; // 12px
  line-height: 1rem; // 16px
  margin-bottom: 0.5rem; // 8px
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 300; // light weight brandon grotesque
}

:is(h1, h2, h3, h4, h5, h6)a {
  margin-left: -0.25rem; // take back the spacing
  padding: 0.25rem 0.5rem;
  border-radius: var(--chamfer);
}

:is(h1, h2, h3, h4, h5, h6)a:hover {
  background: hsl(0, 0%, calc(var(--pearl) - 5%));
  @media (prefers-color-scheme: dark) {
    background: hsl(0, 0%, 15%);
  }
}

::selection {
  background-color: var(--emerald); // 3:1 contrast ratio on pearl is fine fo UI
}

a {
  color: var(--stone);
  @media (prefers-color-scheme: dark) {
    color: var(--hematite);
  }
}

a:hover {
  color: var(--moldavite);
}

// https://webaim.org/techniques/css/invisiblecontent/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// this has problems when it's in the .two-fold the smallest gets a lot of stretch
// container queries would be the way to fix that but it's never happened
.justified-40 {
  @media (min-width: 40rem) {
    text-align: justify;
  }
}

// this doesn't want to be the block of the p
.h-center {
  text-align: center;
}

hr {
  border: none;
  margin: 1.25rem auto; // h5
  width: 50vw;
  margin-right: 50vw;
  border-radius: var(--chamfer); // check its working by sizing up the border
  border-bottom: 2px solid var(--emerald);
  @media (prefers-color-scheme: dark) {
    border-color: var(--moss);
  }
}

.hide-above-40 {
  @media (min-width: 40rem) {
    display: none;
  }
}

// this is only used on h2 that needs to be documented
.forty-h3 {
  @extend h3;

  @media (min-width: 40rem) {
    font-size: 2.441rem; // h2
  }
}

.over-none {
  margin-top: 0;
}

.under-less {
  margin-bottom: 0.8rem;
}

.h-line {
  display: inline;
}

.distracted {
  color: var(--stone);
  @media (prefers-color-scheme: dark) {
    color: var(--hematite);
  }
}

// #typography

/*------------------------------------*\
  #buttons
\*------------------------------------*/

button,
.buttoned {
  display: block;
  margin-top: 1rem;
}

button,
.buttoned a {
  width: auto;
  cursor: pointer;
  background: var(--moldavite);
  border: none; // browser reset
  color: var(--pearl);
  padding: 8px 16px;
  box-shadow: var(--shade);
  text-decoration: none; // its obvious its a button
  border-radius: var(--chamfer);
}

button:hover,
.buttoned a:hover {
  background: var(--moss);
  color: hsl(0, 0%, calc(var(--pearl) + 20%));
  box-shadow: var(--shade-hover);


}

a[href^="tel:"]:before {
  content: "\1F4DE";
  margin-right: 0.5em;
  text-decoration: none;
  display: inline-block; // needed for the text-decoration

  @media (min-width: 20rem) {
    content: "\260E"; // this is an emoji on a phone and nice on desktop
  }
}

/* #call {
  // margin-bottom: 2.441rem; // h2
} */

// #buttons

/*------------------------------------*\
  #images
\*------------------------------------*/

svg {
  width: 100%;
  max-width: 4rem;
  max-height: 3rem;
  margin: 1rem;

  @media (min-width: 40rem) {
    max-height: 2rem;
  }
}

// keep these small till i deal with them
a svg {
  fill: var(--pearl);
}

a svg:hover {
  fill: hsl(0, 0%, calc(var(--pearl) - 20%));
}

.team-heads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  > div {
    flex: 0 1 4rem; // guess and check
    margin: 0.5rem 1rem;
    text-align: center;
    display: block;

    > a {
      > .gatsby-image-wrapper {
        border-radius: 50%;
        max-height: 8rem;
        // transition: 0.2s; // I want this but after it loads so I need to sort that
        border: 2px white solid;
        box-shadow: var(--shadow-depth) var(--shade);
        margin-block-end: 0.5rem;
        @media (prefers-color-scheme: dark) {
          border-color: var(--onyx);
          box-shadow: var(--shadow-depth) var(--dark-shade);
        }

        // this is needed for safari and possibly others
        img {
          border-radius: 50%;
        }
      } // .gatsby-image-wrapper
    } // a

    > a:hover p {
      border-radius: var(--chamfer);
      background:  hsl(0, 0%, 92.5);
    
      @media (prefers-color-scheme: dark) {
        background: hsl(0, 0%, 17.5);
      }
    }
    
    > a:hover > .gatsby-image-wrapper {
      box-shadow: var(--shadow-depth) var(--shade-hover);
      border-color: var(--emerald);
      @media (prefers-color-scheme: dark) {
        box-shadow: var(--shadow-depth) var(--dark-shade-hover);
        border-color: var(--moldavite);
      }
    }

  } // div
} // .team-heads

.image-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > .gatsby-image-wrapper, div {
    flex: 1 1 8rem; // guess and check
  }

  > div > .gatsby-image-wrapper {
    height: 100%;
  }
}

.slender-image {
  height: 8rem; // seems like it centers the image better than max-height
  overflow: hidden;
  display: grid;
  // ppearl-content: center;
  margin-bottom: 2.9295rem;
}

.gatsby-image-wrapper {
  border-radius: var(--chamfer);
}

// #images

/*------------------------------------*\
  #layout
\*------------------------------------*/

body {
  margin: 0; // reset
  margin-bottom: -1rem; // hacky but needed I think its a gatsby thing
}

.measured {
  max-width: 40rem;
  // lets the top and bottom be defaults
  margin-left: 1rem;
  margin-right: 1rem;

  @media (min-width: 40rem) {
    margin-left: auto;
    margin-right: auto;
  }
}

// this should always be on a section div etc not on the content
.two-fold {
  max-width: 66rem; // guess and check
  // this is a major design piece so detemines a lot of the site
  // needs to be a variable
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 1rem;

  > * {
    // I should use this more often
    flex: 1 1 21rem;
    max-width: 100%;
  }
}

// The question is ho many places can I use flex but not supports or flex gap
// https://caniuse.com/flexbox-gap
// https://developer.mozilla.org/en-US/docs/Web/CSS/@supports
// still kinda low numbers I need a fallback
@supports (gap: 2em) {
  .two-fold {
    gap: 2rem;
  }
}

// this is to match the two-fold for things like titles
// this should always be on a section div etc not on the content
.single-fold {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0 1rem;
}


.plaque {
  @extend h4; // thinking about dropping this down so more fits on each line
  margin: 0; // this might need to be reinstated at larger sizes
  display: flex;
  flex-wrap: wrap;
  gap: 1.563rem;
  padding-left: 0; // browser rest

  > li {
    flex: 1 1 23rem; // guess and check
    list-style: none;
    padding: 1.563rem;
    border-radius: calc(var(--chamfer) * 2);
    background: var(--emerald);
    color: var(--onyx);

    @media (prefers-color-scheme: dark) {
      background: var(--moss);
      color: var(--pearl);
    }

    > h4 {
      margin-top: 0;
    }

    > ul {
      margin-top: 0.5rem; // 🚨 I dont like this but quick fix
      margin-bottom: 0.5rem; // 🚨 I dont like this but quick fix
      padding-left: 2rem;
      padding-right: 0.25rem;

      > li {
        font-size: 1.25rem; // h5
        list-style: disc;
      }
    }
  }
}




.inventory {
  @extend h4; // thinking about dropping this down so more fits on each line
  margin: 0; // this might need to be reinstated at larger sizes
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  color: var(--stone);
  @media (prefers-color-scheme: dark) {
    color: var(--hematite);

    ::selection{
      background: var(--moss);
    }

  }

  > li {
    margin-bottom: 1.563rem; // this is the line height of the text
    // keeps the vertical rythm
    flex: 1 1 23rem; // guess and check

    > ul {
      padding-left: 0; // reset
      margin-top: 0.5rem; // 🚨 I dont like this but quick fix

      > li {
        font-size: 1.25rem; // h5
        list-style: none;
        color: var(--onyx);
      }
    }
  }
}

// the difference is the list-style
.catalog {
  @extend .inventory;
  list-style: none;
  padding-left: 0; // reset
}

#intake-forms {
  // this might be too heavy handed
  // text-align: center;

  ul {
    list-style: none;
    padding-left: 0; // reset

    li {
      margin-bottom: 1em;

      h4 {
        margin-bottom: 0.8rem; // specifically small
      } // h5
      h5 {
        margin-bottom: 1rem; // specifically small
      } // h5
      p {
        margin-top: 0; // I might take this site wide it's currently running default
      }
    } // li
  } // ul
} // #intake-forms

// #layout

/*------------------------------------*\
  #veiled
\*------------------------------------*/

#veiled.active {
  // theres something about transle3d thats fastest IO should document that
  transform: translate3d(0, 0, 0);
}

#veiled.inactive {
  transform: translate3d(0, -100%, 0);
}

// this being an id rather than a class is causing conflicts that need important to overwrite
#veiled {
  transition: all 1s; // this should probably be a variable
  position: absolute;
  width: 100%;
  margin-top: -1rem; // gatsby something
  z-index: 99; // above any images logo etc

  ul {
    background: var(--moldavite);
    color: var(--onyx);
    list-style: none;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0; // browser reset

    li {
      @extend h5;
      margin-bottom: 1rem;

      a {
        color: var(--pearl);
      }

      a:hover {
        color: white;
      }
    }
  }

  @media (min-width: 70rem) {
    display: none;
  }
}

.veiled__header {
  padding-bottom: 0 !important; // overwrite #veiled ul

  li {
    margin-bottom: 0 !important; // overwrite #veiled ul li
    // this can probably be resoleved with heirachy

    a {
      display: block;

      svg {
        max-height: 5rem;
        max-width: 5rem;
      }
    }
  }
}

.veil-button {
  z-index: 99;
  position: relative; // needed for the z index
  float: right;
  @media (min-width: 70rem) {
    // this has to match #overt ul
    display: none;
  }
}

.veiled__call {
  background: #2e5d58;

  @media (min-width: 70rem) {
    display: none !important;
  }
}

.close-button {
  margin-top: 0;
  background: var(--moss);
  color: var(--pearl);
  border: none;
  width: 100%;
  // text-decoration: underline;
  text-align: left;
  padding: 1rem;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 3px 3px;
}

// #veiled

/*------------------------------------*\
  #hero
\*------------------------------------*/

#overt ul {
  display: none;
  @extend h5; // this is weird you cant do it inside the media query
  padding-left: 0;
  margin-block: 0;

  @media (min-width: 70rem) {
    display: flex;
    justify-content: space-around;
    list-style: none;

    li {
      margin: 1rem; // 🚨 this is wrong but its better than not having a drop
      text-align: center;

      a {
        padding: 0.25rem 0.5rem; // 🚨 making this up
        border-radius: var(--chamfer);
      }

      a:hover {
        background: hsl(0, 0%, calc(var(--pearl) - 5%)); // its pretty subtle but i do like it maybe it should be more there
        @media (prefers-color-scheme: dark) {
          background: hsl(0, 0%, 15%);
        }
      }
    } // li
  } // @media 60rem
} // #overt

#hero {
  display: grid;
  grid-template-columns: 1fr 20rem 1fr; // ? not sure what im doing with this
  margin-bottom: 1rem;
  overflow: hidden; // crop the image

  @media (min-width: 42rem) {
    grid-template-columns: 1fr 40rem 1fr; // ? not sure what im doing with this
  }

  #logo__backer {
    grid-row: 1;
    grid-column: 2;
    place-self: center;
    border-radius: 50%;
    width: 8rem; // guess and check
    height: 8rem; // guess and check
    opacity: 0.5;
    background: var(--pearl);
    @media (prefers-color-scheme: dark) {
      background: var(--onyx);
    }
  }

  #logo__border {
    grid-row: 1;
    grid-column: 2;
    place-self: center;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    border: 2px var(--pearl) solid;
    @media (prefers-color-scheme: dark) {
      border-color: var(--onyx);
    }
  }

  #logo {
    grid-row: 1;
    grid-column: 2;
    place-self: center;
    z-index: 1; // above the backer and border
    // even tho this is after in the html it doesnt seem to be above

    a {
      display: grid;
      // keeps the icon centered in the backer
    }
  }

  .gatsby-image-wrapper {
    grid-row: 1;
    grid-column: 1/4;
    z-index: -1;
    min-height: 10rem;
    max-height: 20vh; // guess and check
    opacity: 0.33;
  }
}

header a svg {
  max-width: 6rem;
  max-height: 6rem;
  margin: 1rem;
  fill: var(--moss);

  @media (prefers-color-scheme: dark) {
    fill: var(--emerald);
  }
}

// this isnt working
header a svg:hover {
  fill: var(--moldavite);
}

// #hero

/*------------------------------------*\
  #backgrounds
\*------------------------------------*/

// its like an alert but not quite as much
.vigilant {
  background: var(--ember);
  padding: 0.5rem 1rem;
  border-radius: var(--chamfer);
}

// nesting this doesnt work
.vigilant::selection {
  background-color: hsl(var(--ember-hs), calc(var(--ember-l) - 20%));
}

.emerald-backed {
  background: var(--emerald);
  border-radius: var(--chamfer);
  color: var(--pearl);

  a {
    color: var(--pearl);
    background: var(--emerald);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--chamfer);
  }

  a:hover {
    color: hsl(0, 0%, calc(var(--pearl) + 20%));
    background: var(--moldavite);
  }
}

.emerald-backed::selection {
  background-color: var(--moldavite);
}

#contact > h4, // this naming is kinda terrible
footer h3 a {
  @extend .emerald-backed;
}

// #backgrounds

/*------------------------------------*\
  #contact
\*------------------------------------*/

#contact > h4 {
  width: max-content; // less line-breaks
}

.space-start {
  padding-left: 0.5rem;
}

.space-end {
  padding: 0.5rem 1rem;
}

// #contact

/*------------------------------------*\
  #footer
\*------------------------------------*/

#footer-social {
  border-top: 1rem solid var(--emerald);
  background: var(--moss);
  color: var(--pearl);
  padding: 1.953rem; // why this number

  a {
    color: var(--pearl); // conflicts with text color
    // has background tho
  }

  a:hover {
    color: hsl(0, 0%, calc(var(--pearl) + 20%));
    background: hsl(var(--moss-hs), calc(var(--moss-l) - 10%));
  }

  ul {
    list-style: none;
    padding-left: 0; // reset
    display: flex;
    justify-content: space-around;

    li {
      padding: 0.5rem;

      a {
        // the svg to sit center
        display: flex;

        svg {
          margin: 0;
          padding: 0.5rem;
        }

        svg:hover {
          fill: hsl(0, 0%, calc(var(--pearl) + 20%));
        }
      } // a

      a:hover {
        background: hsl(var(--moss-hs), calc(var(--moss-l) - 10%));
        border-radius: var(--chamfer); // match all icons having a rounded edge
      } // a:hover
    } // li
  } // ul
} // #footer-social

// #footer


.associate {
  display: flex;
  flex-direction: column;

  button {
    font-size: 1rem;
    line-height: 1.563rem;
    padding: 8px 16px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 3px 0 0 3px;
    margin: 0;
  }

  .buttoned {
    margin: 0;
    
    > a {
      /* top-left | top-right | bottom-right | bottom-left */
      border-radius: 0 3px 3px 0;
      display: inline-block;
    }
  }
}

.menu-lines {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  align-content: stretch;

  @media (min-width: 70rem) {
      align-content: stretch;
  }
  > nav {
    display: none;

    @media (min-width: 70rem) {
      display: block;
      flex: 2;
    }
  }
}

.two-fold__hr {
  margin-left: -1rem;
}

/*------------------------------------*/
//  #IO TEST
/*------------------------------------*/

#kiley {
  margin-block-start: -50%;
  transition: 2s;
  height: 8rem;
}

#kiley.hidden {
  @media (min-width: 30rem) {
    transform: translate3d(2rem, 0, 0);
    opacity: 0.95;
    @media (prefers-reduced-motion) {
      transform: translate3d(0.2rem, 0, 0)
    }
  }
}

#gymImage {
  transition: 2s;
}
#gymImage.hidden {
  transform: translate3d(2rem, 0, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0.2rem, 0, 0);
  }
}

#treating {
  transition: 2s;
}
#treating.hidden {
  transform: translate3d(0, -1rem, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0, -0.2rem, 0);
  }
}

#snowyImage {
  transition: 2s;
}
#snowyImage.hidden {
  transform: translate3d(0, 0.2rem, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0, 0.2rem, 0);
  }
}

#poolImage {
  transition: 2s;
}
#poolImage.hidden {
  transform: translate3d(0, -1rem, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0, 0.2rem, 0);
  }
}

/*------------------------------------*/
//  #BORDERBLOCK
/*------------------------------------*/

.borderblock {
  border-radius: var(--chamfer);
  border: 2px solid var(--emerald);
  padding: 1rem;

  @media (prefers-color-scheme: dark) {
    border-color: var(--moss);
  }
}