::selection {
  // TODO look at taking this to orange
  background-color: var(--emerald); // 3:1 contrast ratio on pearl is fine fo UI
  border-radius: 1rem;
}

// this has problems when it's in the .two-fold the smallest gets a lot of stretch
// container queries would be the way to fix that but it's never happened
.justified-40 {
  @media (min-width: 40rem) {
    text-align: justify;
  }
}

// this doesn't want to be the block of the p
.h-center {
  text-align: center;
}

hr {
  border: none;
  margin: 1.25rem auto; // h5
  width: 50vw;
  margin-right: 50vw;
  border-radius: var(--chamfer); // check its working by sizing up the border
  border-bottom: 2px solid var(--emerald);
  @media (prefers-color-scheme: dark) {
    border-color: var(--moss);
  }
}

.hide-above-40 {
  @media (min-width: 40rem) {
    display: none;
  }
}

.over-none {
  margin-top: 0;
}

.under-less {
  margin-bottom: 0.8rem;
}

.h-line {
  // todo: I dont like this name
  display: inline;
}

.distracted {
  color: var(--stone);
  @media (prefers-color-scheme: dark) {
    color: var(--hematite);
  }
}

header a svg {
  max-width: 6rem;
  max-height: 6rem;
  margin: 1rem;
  fill: var(--moss);

  @media (prefers-color-scheme: dark) {
    fill: var(--emerald);
  }
}

.associate {
  display: flex;
  flex-direction: column;

  button {
    font-size: 1rem;
    line-height: 1.563rem;
    padding: 8px 16px;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 3px 0 0 3px;
    margin: 0;
  }

  .buttoned {
    margin: 0;

    > a {
      /* top-left | top-right | bottom-right | bottom-left */
      border-radius: 0 3px 3px 0;
      display: inline-block;
      box-shadow: var(--penumbra);
      transition: box-shadow 0.2s ease-in-out;
    }

    > a:where(:hover, :focus) {
      box-shadow: var(--antumbra);
    }

    > a:focus {
      box-shadow: var(--umbra);
    }
  }
}

.menu-lines {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  align-content: stretch;

  @media (min-width: 70rem) {
    align-content: stretch;
  }
  > nav {
    display: none;

    @media (min-width: 70rem) {
      display: block;
      flex: 2;
    }
  }
}

.two-fold__hr {
  margin-left: -1rem;
}

.inline__hr {
  width: auto;
  margin-right: auto;
}
