/*------------------------------------*/
  /* #LINKS */
/*------------------------------------*/

a {
  color: var(--stone);
  @media (prefers-color-scheme: dark) {
    color: var(--hematite);
  }
}

a:hover, a.active {
  color: var(--moldavite);
  text-decoration: none;
}

/*------------------------------------*/
  /* #BUTTONS */
/*------------------------------------*/

button,
.buttoned {
  display: block;
  margin-top: 1rem;
}

button,
.buttoned a {
  width: auto;
  cursor: pointer;
  background: var(--moldavite);
  /* browser reset */
  border: none;
  color: var(--pearl);
  box-shadow: var(--shade);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: var(--chamfer);
  transition: 0.25s ease;
}

button:hover,
.buttoned a:hover {
  background: var(--moss);
  color: hsl(0, 0%, calc(var(--pearl-l) + 20%));
  box-shadow: var(--shade-hover);
  /* TODO: a subtle border could be nice */
}

a[href^="tel:"]:before {
  content: "\1F4DE";
  margin-right: 0.5em;
  text-decoration: none;
  /* needed for the text-decoration */
  display: inline-block;

  @media (min-width: 20rem) {
    /* ☎️ */
    content: "\260E";
  }
}
