/*------------------------------------*/
/* #LISTS */
/*------------------------------------*/

ul li {
  line-height: 2;

  a {
    padding-block: 0.25lh;
    display: block;
  }
}

/*------------------------------------*/

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-inline-start: 0;
  justify-content: flex-start;

  > li {
    padding-inline-start: 0;
  }
}

/*------------------------------------*/
/* #INTAKE FORMS */
/*------------------------------------*/

#intake-forms {
  ul {
    list-style: none;
    /* reset */
    padding-left: 0;

    li {
      margin-bottom: 1em;

      h4 {
        /* specifically small */
        margin-bottom: 0;
      }

      h5 {
        /* specifically small */
        margin-bottom: 1rem;
      }

      p {
        /* I might take this site wide it's currently running default */
        margin-top: 0;
      }
    }
  }
}
