/*------------------------------------*\
  /* #IMAGES */
/*------------------------------------*/

svg {
  width: 100%;
  max-width: 4rem;
  max-height: 3rem;
  margin: 1rem;

  @media (min-width: 40rem) {
    max-height: 2rem;
  }
}

/* keep these small till i deal with them */
a svg {
  fill: var(--pearl);
}

a svg:hover {
  fill: hsl(0, 0%, calc(var(--pearl-l) - 20%));
}

/*------------------*/
  /* #SPECIFICS */
/*------------------*/

@media (max-width: 40rem) {
  .team-page .two-fold .img {
    aspect-ratio: 1;
  }

  /* custom for this shot to reframe */
  .team-page .jessica img {
    object-position: 100% 25%;
  }
}

.team-page__square {
  aspect-ratio: 1;
}

/*------------------*/
  /* #TEAMHEADS */
/*------------------*/

.team-heads {
  display: flex;
  flex-wrap: wrap;

  > div {
    /* guess and check */
    flex: 0 1 4rem;
    margin: 0.5rem 1rem;
    text-align: center;
    display: block;

    > a {
      > img {
        border-radius: 50%;
        max-height: 8rem;
        border: 2px white solid;
        box-shadow: var(--shadow-depth) var(--shade);
        margin-block-end: 0.5rem;
        @media (prefers-color-scheme: dark) {
          border-color: var(--onyx);
          box-shadow: var(--antumbra);
        }

        /* this is needed for safari and possibly others */
        img {
          border-radius: 50%;
        }
      }
    }

    > a:hover p {
      border-radius: var(--chamfer);
      /* TODO: variable */
      background: hsl(0, 0%, 92.5%);

      @media (prefers-color-scheme: dark) {
        /* TODO: variable */
        background: hsl(0, 0%, 17.5%);
      }
    }

    > a:hover > img {
      box-shadow: var(--shadow-depth) var(--shade-hover);
      @media (prefers-color-scheme: dark) {
        box-shadow: var(--penumbra);
        border-color: var(--moldavite);
      }
    }
  }
}

.image-stack {
  display: flex;
  flex-flow: row wrap;
  gap: 1.563rem; /* TODO: variable */

  /* TODO: working */
  img {
    width: 100%;
    flex: 8rem;
    min-height: 2rem;
    /* height: auto; */
    /* max-width: 16rem; ? I shouldnt need something like this why are my flexes breaking? */
  }

  > div {
    display: flex;
    flex-flow: row wrap;
    gap: 1.563rem; /* TODO: variable */
    /* ? this seems pretty small is there a better way to do it */
    /* flex: 1 1 8rem; */
    flex: 1 1 8rem;

    > * {
      flex: 1 1 8rem;
    }
  }

  /* ? this atleast folds */
  .box {
    background: var(--moss);
    min-width: 2rem;
  }
}

.slender-image {
  /* seems like it centers the image better than max-height */
  height: 8rem;
  overflow: hidden;
  display: grid;
  /* TODO Variable */
  margin-bottom: 2.9295rem;
}

img {
  border-radius: var(--chamfer);
}

/* TODO: this isnt working */
header a svg:hover {
  fill: var(--moldavite);
}

/*------------------------------------*/
  /* #INTERSECTIONOBSERVER */
/*------------------------------------*/

#gymImage {
  transition: 2s;
}
#gymImage.hidden {
  transform: translate3d(2rem, 0, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0.2rem, 0, 0);
  }
}

#treating {
  transition: 2s;
}

#treating.hidden {
  transform: translate3d(0, -1rem, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0, -0.2rem, 0);
  }
}

#snowyImage {
  transition: 2s;
}
#snowyImage.hidden {
  transform: translate3d(0, 0.2rem, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0, 0.2rem, 0);
  }
}

#poolImage {
  transition: 2s;
}

#poolImage.hidden {
  transform: translate3d(0, -1rem, 0);
  opacity: 0.95;
  @media (prefers-reduced-motion) {
    transform: translate3d(0, 0.2rem, 0);
  }
}

/*------------------------------------*/
  /* #KILEY IMAGE */
/*------------------------------------*/

#kileyImage {
  margin-block-start: -50%;
}

/*------------------------------------*/
  /* #SPIN */
/*------------------------------------*/

/* built upon https://codepen.io/giana/pen/yYBpVY */
/* the first quarter is cheating but its fast enough you don't see it */

.spin img {
  border: 0;
  border-radius: 100%;
  box-shadow: none;
  /* TODO: this was breaking the border-radius */
  /* overflow: unset; */

  /* Required, since we're setting absolute on pseudo-elements */
  position: relative;
  vertical-align: middle;

  &::before {
    transition: border-top-color 0.15s linear,
      /* Stagger border appearances */
      border-right-color 0.15s linear 0.1s,
      border-bottom-color 0.15s linear 0.2s;
  }

  &::after {
    /* Solid edge post-rotation */
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  }

  &::before,
  &::after {
    transition: 0.5s;
    /* opposite to the border-width */
    top: -2px;
    left: -2px;
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
  }

  /* TODO: this is broken */
  &:hover::before {
    border-color: var(--emerald);
    border-left-color: transparent;
  }

  &:hover::after {
    /* Shows border */
    border-top: 2px solid var(--emerald);
    /* Solid edges, invisible borders */
    border-left-width: 2px;
    /* Solid edges, invisible borders */
    border-right-width: 2px;
    /* Rotate around circle */
    transform: rotate(270deg);
  }
}

/*------------------------------------*/
  /* #OFFERINGS */
/*------------------------------------*/

.offering-image {
  mix-blend-mode: darken;
  max-width: 50% !important; /* TODO: the two-fold is overwriting this */

  @media (prefers-color-scheme: dark) {
    mix-blend-mode: lighten;
    border-radius: 50%;
    opacity: 0.9;
  }
}

.offering-icon {
  mix-blend-mode: darken;
  max-width: 10rem;
}

/*------------------------------------*/

header a svg {
  max-width: 6rem;
  max-height: 6rem;
  margin: 1rem;
  fill: var(--moss);

  @media (prefers-color-scheme: dark) {
    fill: var(--emerald);
  }
}