/*------------------------------------*\
  /* #typography */
/*------------------------------------*/

html {
  /* TODO: need to relink this back in astro */
  font-family: "brandon-grotesque", sans-serif;
  /* https://fonts.adobe.com/fonts/brandon-grotesque */
}

/* * type-scale.com */
/* this is giving me problems im fixing */
/* 1.250 Major Third */
body {
  font-size: 16px;
  /* ? why is this not the same as h tags */
  line-height: 1.563rem; /* 25px */
  font-style: normal;
  /* regular weight brandon grotesque */
  font-weight: 400;
  background: var(--pearl);
  color: var(--onyx);
  @media (prefers-color-scheme: dark) {
    background: var(--onyx);
    color: var(--pearl);
  }
}

h1,
.h1 {
  /* browser reset */
  margin-top: 0;
  /* 48px and were back to classical */
  font-size: 3rem;
  /* 60px */
  line-height: 3.75rem;
  margin-bottom: 2rem;
}

.h1__clamped {
  font-size: clamp(2.5rem, 5vw, 3rem);
  line-height: clamp(3rem, 5vw, 3.75rem);
}

h2,
.h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.875rem;
}

h4,
.h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.625rem;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
}

small,
.text_small {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  /* light weight brandon grotesque */
  font-weight: 300;
  margin-block-start: 0;
}

:is(h1, h2, h3, h4, h5, h6)a {
  /* take back the spacing */
  margin-left: -0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--chamfer);
}

:is(h1, h2, h3, h4, h5, h6)a:hover {
  background: hsl(0, 0%, calc(var(--pearl-l) - 5%));
  @media (prefers-color-scheme: dark) {
    background: hsl(0, 0%, 15%);
  }
}

p {
  margin-top: 0;
  /* 10px */
  margin-bottom: 0.625rem;
}

hr {
  border: none;
  /* h5 */
  margin: 1.25rem auto;
  width: 50vw;
  margin-right: 50vw;
  /* check its working by sizing up the border */
  border-radius: var(--chamfer);
  border-bottom: 2px solid var(--emerald);
  @media (prefers-color-scheme: dark) {
    border-color: var(--moss);
  }
}

::selection {
  /* TODO look at taking this to orange */
  /* 3:1 contrast ratio on pearl is fine fo UI */
  background-color: var(--emerald);
  border-radius: 1rem;
}
/* this has problems when it's in the .two-fold the smallest gets a lot of stretch */
/* container queries would be the way to fix that but it's never happened */
.justified-40 {
  @media (min-width: 40rem) {
    text-align: justify;
  }
}

/* TODO: this is only used on h2 that needs to be documented */
.forty-h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.875rem;

  @media (min-width: 40rem) {
    /* h2 */
    font-size: 2.441rem;
  }
}

/* this doesn't want to be the block of the p */
.h-center {
  text-align: center;
}

.h-line {
  /* TODO: I dont like this name */
  display: inline;
}